<ion-view view-title="Entreprises">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entreprise in entreprises" type="item-text-wrap" href="#/tab/annonces/{{annonce.id}}">
        <img ng-src="{{entreprise.face}}">
        <h2>{{entreprise.name}}s</h2>
        <p>{{entreprise.lastText}}s</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(annonce)">
          Modifier description
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="add(annonce)">
          Ajouter annonce
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
