<ion-view view-title="Entreprises">
  <ion-content>
    <ion-list>

      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="entreprise in entreprises" type="item-text-wrap" href="#/tab/entreprises/{{entreprise.id}}">
        <img ng-src="{{entreprise.logo}}">
        <h2>{{entreprise.nom}}</h2>
        <p>
            {{entreprise.nomPDG}} <br>
            {{entreprise.adresse}} <br>
            {{entreprise.nbemployes}} <br>
            {{entreprise.managementsocial}} <br>
            {{entreprise.siret}} <br>
            {{entreprise.url}} <br>
            {{entreprise.email}}  <br>          
        </p>
        <div ng-repeat="commentaire in commentaires">
            <p>
                Note générale: {{commentaire.noteGenerale}} <br>
                Note du stage: {{commentaire.noteStage}} <br>
                Ambiance: {{commentaire.noteAmbiance}} <br>
            </p>
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="update(entreprise)">
          Modifier description
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="add()">
          Ajouter annonce
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
